<chronoserp.widgets>
  <widgets>
    <widget id="NavigatorWidget"
            type="Chronos.Presentation.Widgets.NavigatorWidget, Chronos.Presentation.Widgets" />
    <widget id="DigitalClockWidget"
            type="Chronos.Presentation.Widgets.ClockWidget, Chronos.Presentation.Widgets" />
    <widget id="CalendarWidget"
            type="Chronos.Presentation.Widgets.CalendarWidget, Chronos.Presentation.Widgets" />
  </widgets>
</chronoserp.widgets>